<div class="login pt-6 pt-lg-15 d-none position-relative">
    <div class="container">
        <div class="row flex-lg-column align-items-center">
            <div class="col-12 col-lg-4">
                <img class="d-block mx-auto mb-4" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true" alt="logo pic">
                <h2 class="fs-11 fw-bold text-center mb-4">會員登入</h2>
            </div>
            <div class="col-12 col-lg-4">
                <form action="index.html">
                    <div class="mb-4">
                      <label for="account" class="form-label mb-2">帳號</label>
                      <input type="text" name="account" class="form-control border-2 border-primary fs-12 py-2 ps-3" id="account" aria-describedby="accountHelp" placeholder="請輸入帳號">
                    </div>
                    <div class="mb-4">
                        <label for="code" class="form-label mb-2">密碼</label>
                        <input type="text" name="code" class="form-control border-2 border-primary fs-12 py-2 ps-3" id="code" aria-describedby="codeHelp" placeholder="請輸入密碼">
                    </div>
                    <button type="submit" class="btn btn-primary py-2 submitEjs d-block w-100 mb-2 mx-lg-auto">登入 <span class="icofont-rounded-double-right"></span></button>
                  </form>
            </div>
        </div>
    </div>
</div>