.even{
    top: 71px;
    button{
        padding: 3px 15px 3px 12px;
        border-width: 1px 1px 1px 4px;
        flex-grow: 0 !important;
        flex-shrink: 0 !important;
    }
    .btn-group{
        button:hover{
            border-width: 0 0 0 4px;
            border-color: $secondary;
            color: white;
            background-color: $primary;
        }
    }
    .card{
        img{
            height: 210px;
            object-fit: cover;
        }
    }
    .card-footer{
        img{
            width: 20px;
            height: 20px;
        }
        a:hover{
            color: $primary;
            span{
                padding-left: 10px;
                background-color: $secondary;
            }
        }
    }
    .becomeMenber:hover{
        color: $secondary;
    }
    .btn-close{
        right: 3.418803%;
        &:hover{

        }
    }
    .modal-body{
        button:hover{
            color: $secondary;
            border-color: $primary;
        }
    }
    .modal-title{
        letter-spacing: 1.2px;
    }
}
@include lg{
    .even{
        top: 111px;
        button{
            padding: 3px 23px 3px 20px;
        }
        .card{
            img{
                height: 255px;
            }
        }
        .card-footer{
            img{
                width: 24px;
                height: 24px;
            }
        }
    }
}