.index{
    top: 71px;
    .banner{
        .item1{
            background: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/13.jpg?raw=true) center center no-repeat;
            background-size: cover;
        }
        .item2{
            background: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/13.jpg?raw=true) center center no-repeat;
            background-size: cover;
        }
        .item3{
            background: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/13.jpg?raw=true) center center no-repeat;
            background-size: cover;
        }
        h1{
            padding-right: 186px;
        }
        .fw-bold{
            margin-top: 210px;
        }
    }
    .explore{
        img{
            width: 40px;
        }
        .more{
            line-height: 32px;
            padding: 24px 0;
        }
        .card:hover{
            background-color: $secondary;
            //color: $secondary;
            //cursor: pointer;
        }
        .more:hover{
            background-color: $primary;
            color: $secondary;
        }
    }
    .recent{
        .card-img-top{
            height: 255px;
            object-fit: cover;
        }
        .card-footer{
            img{
                width: 20px;
                height: 20px;
            }
            a:hover{
                color: $primary;
                span{
                    padding-left: 10px;
                    background-color: $secondary;
                }
            }
        }
        .btn-close{
            right: 3.418803%;
        }
        .becomeMenber:hover{
            color: $secondary;
        }
        .modal-title{
            letter-spacing: 1.2px;
        }
    }
    .online{
        .img{
            overflow: hidden;
            height: 158px;
            img{
                top: -93%;
                left: -2%;
            }
        }
        .w-100:hover{
            color: $secondary;
        }
        .btn-group{
            button{
                border: 1px solid $primary;
                border-width: 2px 2px 2px 4px;
            }
            button:hover{
                border-left: 4px solid $secondary;
                background-color: $primary;
                color: #FFF;
            }
        }
    }
    .swiper-wrapper {
        transition-timing-function: linear;
    }
    .activity{
        @keyframes rotate0deg {
            from{transform: rotate(-4deg);}
            to{transform: rotate(0deg);}
        }
        @keyframes rotate2deg {
            from{transform: rotate(-2deg);}
            to{transform: rotate(2deg);}
        }
        @keyframes rotate-2deg {
            from{transform: rotate(2deg);}
            to{transform: rotate(-2deg);}
        }
        img{
            height: 267px;
            object-fit: cover;
        }
        h4{
            transform: translate(-50%, -50%) rotate(-4deg);
        }
        li:nth-child(2){
            h4{
                transform: translate(-50%, -50%) rotate(-3deg);
            }
        }
        li:nth-child(even){
            //transform: rotate(-2deg);
            animation-name: rotate-2deg;
            animation-duration: 1s;
            animation-fill-mode: forwards;
            animation-iteration-count: 3000000;
        }
        li:nth-child(3){
            //transform: rotate(2deg);
            animation-name: rotate2deg;
            animation-duration: 1s;
            animation-fill-mode: forwards;
            animation-iteration-count: 3000000;
        }
        li:nth-child(1){
            animation-name: rotate0deg;
            animation-duration: 1s;
            animation-fill-mode: forwards;
            animation-iteration-count: 3000000;
        }
    }
    .promote{
        .mail,.phone,.fb{
            .bg-primary{
                width: 32px;
                height: 32px;
                line-height: 32px;
            }
        }
        a:hover,button:hover{
            color: $secondary;
            span{
                color: $secondary;
            }
        }
        input{
            width: 94.236311%;
        }
    }
}
@include sm{
    .index{
        .online{
            .img{
                height: 269px;
                img{
                    top: -68%;
                    left: -2.5%;
                }
            }
        }
    }
}
@include md{
    .index{
        .online{
            .img{
                height: 245px;
                img{
                    top: -130%;
                    left: -2.5%;
                }
            }
        }
    }
}
@include lg{
    .index{
        top: 111px;
        .banner{
            h1{
                padding-right: 0;
            }
            .fw-bold{
                margin-top: 279px;
            }
            .mt-lg-4{
                width: 66.666667%;
            }
        }
        .explore{
            .card{
                padding: 35px 0;
            }
            img{
                width: 41.66667%;
            }
            .more{
                line-height: 51.496px;
            }
        }
        .recent{
            .card-img-top{
                height: 255px;
            }
            .card-footer{
                img{
                    width: 24px;
                    height: 24px;
                }
            }
            .btn-close{
                right: 4.819277%;
            }
            .modal-body{
                p{
                    width: 92.703863%;
                }
                button:hover{
                    color: $secondary;
                }
            }
        }
        .online{
            .img{
                height: auto;
                img{
                    top: -100%;
                    left: -3%;
                }
            }
        }
        .activity{
            img{
                height: 272px;
            }
        }
        .promote{
            button{
                margin-top: 54px;
            }
            input{
                width: 90.68323%;
            }
        }
    }
}
@include xl{
    .index{
        .explore{
            .more{
                line-height: 57.75px;
            }
        }
    }
}
@include xxl{
    .index{
        .explore{
            .more{
                line-height: 64px;
            }
        }

    }
}
